@page "/skilldefinitions"
@inject HttpClient Http
@inject MagusTtkContext TtkContext
@inject IDataInitializer<MagusTtkContext> DataInitializer

<h1>Képzettségek</h1>

@if (skillDefinitionsByCategory == null)
{
    <p><em>Betöltés...</em></p>
}
else
{
    @foreach (var group in skillDefinitionsByCategory)
    {
<p>
    <h2>@(group.Key.Name ?? group.Key.Code)</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Képzettség neve</th>
                <th>Nehézség (Kp érték)</th>
                <th>Tulajdonság követelmény</th>
                <th>Osztály</th>
            </tr>
        </thead>
        <tbody>
            @{
                rowClassIndex = 0;
                previous = null;
            }
            @foreach (var skillDef in group)
            {
                <tr class="@GetRowClass(skillDef)">
                    <td>@skillDef.Code</td>
                    <td>@skillDef.GetKpCostSummary()</td>
                    <td>@((skillDef.AbilityBase == null) ? string.Empty : string.Join(", ", skillDef.AbilityBase))</td>
                    <td>@skillDef.SkillClassDefinition.Code</td>
                </tr>
                previous = skillDef;
           }
        </tbody>
    </table>
</p>
    }
}

@code {
    private static string[] SkillTableRowClasses = new string[] { "table-primary", "table-secondary" };
    private IGrouping<SkillCategory, MagusTtkSkillDefinition>[] skillDefinitionsByCategory;
    private MagusTtkSkillDefinition previous = null;
    private int rowClassIndex = 0;

    protected override async Task OnInitializedAsync()
    {
        await DataInitializer.InitializeData(TtkContext);

        skillDefinitionsByCategory = (await TtkContext.SkillDefinitions.All())
            .GroupSkillDefinitionsByCategory()
            .ToArray();
    }

    private string GetRowClass(MagusTtkSkillDefinition current)
    {
        // ha másik group következik
        if ((previous != null) && (previous.Group != current.Group))
        {
            // akkor átváltunk  másik row class-ra
            rowClassIndex = (rowClassIndex + 1) % SkillTableRowClasses.Length;
        }

        return SkillTableRowClasses[rowClassIndex];
    }
}
